/* FIrst section */
body{
    margin: 0;
    background-color: #1F2937;
    font-family: 'Roboto', sans-serif;
}

.contain-all{
    padding: 10px 225px 25px 225px;

}


.header{
    max-height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

#logo{
    display: inline;
    font-size: 24px;
    color: #F9FAF8;
}

.header-items {
    display: flex;
    align-content: center;
    color: #F9FAF8;
}

.header-items li{
    height: 75px;
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}

/* Second Section */

.awesome{
    padding-top: 75px;
    display: flex;
    align-items: center;
    background-color: #1F2937;
    
}
.text-container{
    
    background-color: #1F2937;
    flex-basis: 50%;
}
.text-container h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.text-container p{
    font-size: 18px;
    color: #E5E7EB;

}

.image-container{
    flex-basis: 50%;
    background-color: aliceblue;
    width:488.73px;
    height: 266.47px;
}

button{
    background-color: #3882F6;
    color: #F9FAF8;
    border-color: #3882F6;
    width: 115px;
    padding: 10px;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 10px;
    border-style: solid;
}



